body{
    background-color: linear-gradient(to top, white, #427EB3);
}

header{
    text-align: center;
    margin-top: 200px;
    color: black;
}

main{
    text-align: center;
    margin-top: 50px;
}
